{{>header}}
{{>nav}}
<section class="my-5 container">
    <div class="row mb-3 ">
        <a href="/add" class="btn btn-primary col-2">Add New User</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID<th>
                        <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {{#if isEmpty}}
                <tr class="alret alret-danger">